.ck-editor__editable {
    min-height: 200px;
}
.ck-content p {
    margin-left: unset !important;
}
/* simple box */
.ck-content .simple-box {
    padding: 3px;
    margin: 1em 0;

    background: rgba( 0, 0, 0, 0.1 );
    border: solid 1px hsl(0, 0%, 77%);
    border-radius: 2px;
}

.ck-content  .simple-box-title, .ck-content  .simple-box-description {
    padding: 10px;
    margin: 0;

    background: #FFF;
    border: solid 1px hsl(0, 0%, 77%);
}

.ck-content  .simple-box-title {
    margin-bottom: 10px;
}

.ck-content  .simple-box50 {
    padding: 10px;
    margin: 1em 0;
    background: rgba( 0, 0, 0, 0.1 );
    border: solid 1px hsl(0, 0%, 77%);
    border-radius: 2px;
}

.ck-content  .simple-box-title50,.ck-content  .simple-box-description50,.ck-content  .simple-box-description50right {
    padding: 10px;
    margin: 0;
    background: #FFF;
    border: solid 1px hsl(0, 0%, 77%);
}


.ck-content  .simple-box50 {
    padding: 3px;
    margin: 1em 0;
    width: 50%;
    background: rgba( 0, 0, 0, 0.1 );
    border: solid 1px hsl(0, 0%, 77%);
    border-radius: 2px;
    margin: 0 auto;
}

.ck-content  .simple-box-title50, .simple-box-description50 {
    padding: 10px;
    margin: 0;

    background: #FFF;
    border: solid 1px hsl(0, 0%, 77%);
}

.ck-content  .simple-box-title50 {
    margin-bottom: 10px;
}

.ck-content  .simple-box2 {
    padding: 3px;
    margin: 1em 0;
    display: grid;
    grid-template-columns: 50% 50%;
    background: rgba( 0, 0, 0, 0.1 );
    border: solid 1px hsl(0, 0%, 77%);
    border-radius: 2px;
}

.ck-content  .simple-box-title2, .simple-box-description2 {
    padding: 3px;
    margin: 0;
    min-height: 100px;
    background: #FFF;
    border: solid 1px hsl(0, 0%, 77%) !important;
}

