@mixin title-special-font{
    font-family: 'Dancing Script', cursive,sans-serif;
}
@mixin montserrat-font{
    font-family: 'Montserrat', sans-serif;
}

@mixin semi-bold{
    font-weight: 600;
}
@mixin text-over1{
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 100%;
    height: max-content;
}
@mixin text-over2{
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: max-content;
    width: 100%;
}
@mixin text-over3{
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 100%;
    height: max-content;
}
@mixin text-over4{
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    width: 100%;
    height: max-content;
}
@mixin text-over5{
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    width: 100%;
    height: max-content;
}

@mixin montserrat-font-semi-bold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

@mixin montserrat-font-regular{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

@mixin montserrat-font-medium{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
@mixin montserrat-font-bold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
@mixin montserrat-font-light-italic{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: italic;
}

@mixin montserrat-font-light{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

@mixin dancing-script-font-regular{
    font-family: 'Dancing Script', sans-serif;
}

@mixin dancing-script-font-medium{
    font-family: 'Dancing Script', sans-serif;
    font-weight: 500;
}

@mixin dancing-script-font-bold{
    font-family: 'Dancing Script', sans-serif;;
    font-weight: 700;
}
@mixin dancing-script-font-semi-bold{
    font-family: 'Dancing Script', sans-serif;;
    font-weight: 600;
}
