$headerTopColor:#9e3c5d;
$titleFontSize:50px;
$titleServiceMobileSize:34px;
$subTitleServiceMobileSize:22px;
$fontsizeNormalMobile:14px;
$headerTitleFontSize:34px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$withFullSizeImage: 1710px;
