@import "partials/font";
@import "partials/variables";
@import "partials/mixin";

.simple-box2{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns by default */
    grid-gap: 10px; /* Adjust the gap between items */

    /* Media query for screens less than 768px */
    @media (max-width: $md) {
        grid-template-columns: 1fr; /* One column for smaller screens */
    }

    img {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
    p,div{
        @include montserrat-font-regular;
    }
}
.simple-box50{
    width: 100%;
    margin: 0 auto;
    max-width: max( 886px);
    @media (max-width: $md) {
        width: 100%; /* One column for smaller screens */
    }
    img {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
    p,div{
        @include montserrat-font-regular;
    }
}
.simple-box{
    width: 100%;
    img {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
    p,div{
        @include montserrat-font-regular;
    }
}


