@import "partials/font";
@import "partials/variables";
@import "partials/mixin";
.footer {


    .footer-menu{
        table{
            a{
                text-decoration: none;
                font-size: 15px;
                color: $headerTopColor;
            }
        }
    }
    @include montserrat-font;
    .footer-info {
      position: relative;
      padding-top: 3em;
      padding-bottom: 2em;

      &-item__contact {
        padding-top: 2em;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        @media screen and (max-width: 820px) {
            grid-template-columns: 100%;
        }
        &-item {
          display: flex;
          align-items: center;
          p,
          a {
            text-decoration: none;
            color: #000;
              margin: 0 0 0 10px;
              @include montserrat-font-bold;
          }
        }
      }

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $headerTopColor;
        bottom: 0;
        left: 0;
      }
    }
    .footer-logo {
      padding-right: 10px;
    }
    .footer-info-item__des {
      font-size: 15px;
        @include montserrat-font-regular;
    }
    .footer-info-item-logo__des {
      p:first-child {
        text-transform: uppercase;
        font-size: 17px;
        font-weight: bold;
        position: relative;
        padding-bottom: 12px;
          @include montserrat-font-bold;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: #aaa;
          bottom: 0;
          left: 0;
        }
      }
      p:last-child {
        font-size: 15px;
          @include montserrat-font-regular;
      }
    }


    .footer-info-item {
      &:first-child {
        padding-right: 3%;
      }
      &-logo {
        display: flex;
      }
      &-title {
        text-transform: uppercase;
        font-size: 15px;
          @include montserrat-font-bold;
          @media screen and (min-width: $sm) {
              margin-top: 53px;
          }
      }
      &-menu {
        display: flex;
        flex-direction: column;
        a {
          text-decoration: none;
          font-size: 15px;
            @include montserrat-font-regular;
          color: $headerTopColor;
            &:first-child{
                margin-top: 0;
            }
            margin-top: 5px;
        }
      }
    }

    .coppyright {
      padding-top: 2em;
      padding-bottom: 2em;

      display: flex;
      font-size: 15px;
      a {
        text-decoration: none;
          @include montserrat-font-regular;
        color: #000;
      }
      &-item {
        margin-right: 30px;
        position: relative;
        margin-bottom: 0;
          @include montserrat-font-regular;
        &:first-child::after {
          display: none;
        }
        &::after {
          content: "";
          position: absolute;
          width: 1px;
          height: 16px;
          background-color: #aaa;
          bottom: 5px;
          left: -15px;
        }
      }
    }
  }

@media screen and (max-width: $sm) {

    .footer{
        .footer-info-item{
            &:nth-child(2){
                margin-top: 2em;
            }
            &:nth-child(3){
                margin-top: 2em;
            }
        }
        &__contact-item a {
          font-size: 13px;
        }
        .coppyright{
            flex-wrap: wrap;
            p{
                order: 2;
                width: 100%;
            }
            a{
                order: 1;
                width: 50%;
                margin-right: 0;
            }
        }
    }
    .footer {
      .footer-info-item{
        &__contact-item a {
          font-size: 13px;
        }
        &-logo__des p:last-child{
          font-size: 14px;
        }
      }
    }

    .coppyright-item{
      margin-right: 0 !important;
    }

  }
