@import "partials/font";
@import "partials/variables";
@import "partials/mixin";
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 78%;
    }
}

.opacacity-1{
    opacity: 0.8 !important;
}

body {
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

p ,a,div{
    font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 821px) {
    .header-banner__slogan{
        margin-top: 10%;
    }
}


@media screen and (max-width: $md) {
    .header-banner-tour__des{
        text-align: center;
    }
}
#header {
    .offcanvas-body {
        .nav-link {
            cursor: pointer;
            @include montserrat-font;
            font-size: 1.2em;
        }
        #accordionFlushMenuNav {
            display: none;
        }
    }


    .header-image {
        width: 100%;
        //height: 80vh;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .header__logo {
        img {
            padding: 0 1.8em;
        }

        @media screen and (min-width:1200px) and (max-width: 1366px) {
            img {
                padding-right: 67px;
            }
        }
    }

    position: relative;

    .header-content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
    }

    .fixed-header {
        position: fixed;
        width: 100vw;
        z-index: 1000;
        display: flex;
        @media screen and (min-width: 578px)
        {
            opacity: 0.8;
        }
        background: url("../images/header_bg_after.png"), #f0e3db !important;
    }

    .header-top {
        align-items: center;
        padding-right: 0;
        display: flex;
        justify-content: space-evenly;
    }

    @media screen and (min-width:1200px) and (max-width: 1366px) {
        .header-top {
            justify-content: space-between;
        }
    }


    @media screen and (max-width:1445px) and (min-width:1400px) {
        .header-top {
            justify-content: center;
        }
    }
    .header-contact {
        margin-right: 8px;
        color: #a44765;
        display: flex;
        padding: 5px 10px;
        justify-content: flex-end;

        &-phone {
            margin-right: 30px !important;
        }
        &-email{
            border-bottom: 1px solid;
        }
        a {
            text-decoration: none;
            color: #a44765;
            cursor: pointer;
            font-size: 14px;

        }
        p {
            font-size: 14px;
            margin: 0;
            font-family: "Montserrat";
            border-bottom: 1px solid;


        }
    }

    .header__direct {
    }

    .header-banner {
        color: #fff;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__slogan {
            font-size: $titleFontSize;
            @include title-special-font;
        }

        &__des {
            @include montserrat-font;
            font-size: 15px;
        }

        &__btn {
            .btn {
                font-size: 15px;
                @include montserrat-font;

                &:first-of-type {
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    color: #888871;
                    background-color: rgb(255, 255, 255);
                    padding-left: 2em;
                }

                &:last-of-type {
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;

                    background-color: $headerTopColor;
                    color: #fff;
                    padding-right: 2em;
                }

                &:hover {
                    border-color: unset;
                    color: unset;
                    background-color: unset;
                }
            }
        }
    }

    .navbar {
        .nav-link {
            color: #9e3c5d;
            @include montserrat-font-semi-bold;
            line-height: 1.415;
        }

        .nav-item {
            position: relative;

            &:hover .category-submenu {
                visibility: visible;
                opacity: 1;
            }
            .category-submenu {
                visibility: hidden;
                opacity: 0;
                transition: all 0.2s ease;
                display: flex;
                position: absolute;
                z-index: 1000;
                width: 700px;
                top: 35px;
                flex-wrap: wrap;
                left: 0;
                padding: 20px;
                background: url("../images/header_bg_after.png"), #f0e3db !important;

                .category-submenu-item {
                    margin-top: 20px;
                    margin-left: 20px;
                    width: 310px;

                }

                .category-submenu-item__name {
                    font-weight: 600;
                    text-decoration: none;
                    color: #9e3c5d;

                }

                .category-submenu-item__link {
                    display: flex;
                    flex-direction: column;

                    a {
                        text-decoration: none;
                        position: relative;
                        width: fit-content;
                        color: #9e3c5d;

                        &::after {
                            content: "";
                            position: absolute;
                            width: 0;
                            height: 2px;
                            transition: all 0.2s ease;
                            background: #fff;
                            bottom: 0;
                            left: 0;
                        }

                        &:hover::after {
                            width: 100%;
                        }
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 768.1px) and (min-width: 576px) {
    #header {
        .header-image {
            height: 42vh !important;
        }

        .offcanvas-body {
            .navbar-nav {
                display: none;
            }

            #accordionFlushMenuNav {
                display: inherit;

                & >.accordion-item> .accordion-header > .accordion-button {
                    font-weight: bold;
                }
            }

            .accordion-item {
                border: none;

                &:focus {
                    box-shadow: none;
                }
            }

            .accordion-item:has(.accordion-collapse) {
                .accordion-button::after {
                    display: inherit !important;
                }
            }

            .accordion-item {
                .accordion-button::after {
                    display: none;
                }
            }

            #accordionFlushMenuNav1 {
                .accordion-item:has(.accordion-collapse) {
                    .accordion-button::after {
                        display: inherit !important;
                    }
                }

                .accordion-item {
                    .accordion-button::after {
                        display: none !important;
                    }


                }

                .accordion-body {
                    margin-left: 22px;
                    padding: 10px;
                    a {
                        text-decoration: none;
                        color: #9e3c5d;
                        padding: 10px;
                    }
                }
                & >.accordion-item> .accordion-header > .accordion-button {
                    font-weight: 600;
                    padding: 10px;

                }
            }

            .accordion-button {
                color: #9e3c5d;
                text-decoration: none;

                &:focus {
                    box-shadow: none;
                }
            }

        }

    }
}

@media screen and (max-width: 575.98px) {

    #header{
        .offcanvas-body {
            .navbar-nav {
                display: none;
            }

            #accordionFlushMenuNav {
                display: inherit;

                & >.accordion-item> .accordion-header > .accordion-button {
                    font-weight: bold;
                }
            }

            .accordion-item {
                border: none;

                &:focus {
                    box-shadow: none;
                }
            }

            .accordion-item:has(.accordion-collapse) {
                .accordion-button::after {
                    display: inherit !important;
                }
            }

            .accordion-item {
                .accordion-button::after {
                    display: none;
                }
            }

            #accordionFlushMenuNav1 {
                .accordion-item:has(.accordion-collapse) {
                    .accordion-button::after {
                        display: inherit !important;
                    }
                }

                .accordion-item {
                    .accordion-button::after {
                        display: none !important;
                    }


                }

                .accordion-body {
                    margin-left: 22px;
                    padding: 10px;
                    a {
                        text-decoration: none;
                        color: #9e3c5d;
                        padding: 10px;
                    }
                }
                & >.accordion-item> .accordion-header > .accordion-button {
                    font-weight: 600;
                    padding: 10px;

                }
            }

            .accordion-button {
                color: #9e3c5d;
                text-decoration: none;

                &:focus {
                    box-shadow: none;
                }
            }

        }
    }

    .contact-service-form {
        padding: 0 !important;
    }
    .header-contact-phone {
        padding-right: 0;
    }
    .header-contact-email{
        text-decoration: none;
    }
    .header-top {
        padding: 0;
        position: relative;
        padding-top: 2em;
        padding-bottom: 6px;
        margin: 0 1em;
    }
    #header {
        .header-image {
            padding-top: 90px;
            height: 335px;
        }
        .header-banner-tour__des{
            font-size: 25px;
        }
        .header-banner {
            padding-top: 90px;

            &__des {
                padding: 0 4%;
                text-align: center;
            }
        }

        .header__logo {
            width: 50px;
            margin: 0 10px;

            img {
                padding: 0;
                width: 100%;
            }
        }

        .header-contact {
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            top: 0;
            left: 0;

            &-phone {
                margin-right: 0 !important;
            }
            &-email{
                text-decoration: none;
            }
            p {
                font-size: 14px;
            }
        }

        .navbar {
            .navbar-toggler {
                font-size: 14px;
            }
        }
    }

    .header-banner__slogan {
        font-size: 33px !important;
    }
}


.text-over1 {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 100%;
    height: fit-content;
}

.text-over2 {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
    height: fit-content;
}

.text-over3 {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 100%;
    height: fit-content;
}

.text-over4 {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    width: 100%;
    height: fit-content;
}

.text-over5 {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    width: 100%;
    height: fit-content;
}
