@import "partials/font";
@import "partials/variables";
@import "partials/mixin";
@import "./header";
@import "./footer";
@import "./ckeditor";

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.tour-header {
  .header-banner-tour {
    &__des {
      @include montserrat-font;
      font-size: $headerTitleFontSize;
      font-weight: 300;
    }
    padding-top: 10%;
  }

}
.content {
  margin-top: 4em;
  margin-bottom: 4em;
  &-head {
    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      @include dancing-script-font-bold;
      font-size: $titleFontSize;
      color: $headerTopColor;
      position: relative;
      flex-direction: column;
        @media screen and (max-width: $sm) {
            span{
                text-align: center;
            }
        }

        h1
        {
            display: flex;
            align-items: center;
            justify-content: center;
            @include dancing-script-font-bold;
            font-size: $titleFontSize;
            color: $headerTopColor;
            position: relative;
            flex-direction: column;
            @media screen and (max-width: $sm) {

                text-align: center;

            }

        }
    }
    &__des {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
        margin-top: 1em;
      p {
        width: 50%;
        text-align: center;
      }
    }
  }
}
figure.table,figure:has(table)
{
    margin:0 auto;
}
.content-body{
  margin-top: 4em;
  padding: 0 10%;
  margin-bottom: 10em;
    figure{
        table{
            width: 100%;
            tr{
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }

    figure.table,figure:has(table)
    {
        margin:0 auto;
    }
    .table>:not(caption)>*>*{
        border: 0;
    }
  img{
    max-width: 100%;
    height:auto;
  }
    iframe,video,audio{
        max-width: 100%;

    }
}
.moreblog-service {
  margin-top: 4em;
    padding-top: 4em;
    margin-bottom: 4em;
    background: #c7c5c5;
    .moreblog-service-head {
        &__line{
            width: 100px;
        }
        &__title {
            display: flex;
            align-items: center;
            justify-content: center;
            @include dancing-script-font-bold;
            font-size: $titleFontSize;
            color: $headerTopColor;
            position: relative;
            flex-direction: column;
            @media screen and (max-width: $sm) {
                span{
                    text-align: center;
                }
            }
        }
      &__des {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        p {
          width: 50%;
            @include montserrat-font-regular;
          text-align: center;
        }

      }
    }
    .blog-items{
      margin-top: 3em;
    }
    .blog-item {
      &__img {
        img {
          width: 100%;
          height: auto;
        }
      }
      &__name {
        text-decoration: none;
        text-align: center;
        margin-top: 1em;
          @include montserrat-font-semi-bold;
        font-weight: bold;
      }
      &-des {
        display: grid;
        justify-items: center;
        &__content {
          text-align: center;
          font-size: 15px;
          @include montserrat-font-regular;
        }
      }

    }


    .btn-more-blog{
      background-color: #d26489;
      width: fit-content;
      color: #fff;
      border-radius: 0;
      padding-left: 1em;
      padding-right: 1em;
        @include montserrat-font-semi-bold;
    }
  }
.line-service{
    background-color: $headerTopColor;
    height: 15px;
    width: 100%;
}
@media screen and (max-width:768px) and (min-width:576px) {
  //.content-body{
  //  margin-top: 4em;
  //  padding: 0 5%;
  //  margin-bottom: 10em;
  //  p,h4{
  //    padding: 0 5vw;
  //    @include montserrat-font;
  //  }
  //
  //}
}
@media screen and (max-width: 575.98px) {
  html,
  body {
    overflow-x: hidden;
  }
  .contact-service-form {
    padding: 0 !important;
  }
  .contact-service-title {
    font-size: 1.5em;
  }
  .contact-service-des {
    font-size: 12px;
  }
  .contact-service-ques {
    padding: 0 4%;
    font-size: 12px;
  }

  .tour-service-head__title {
    font-size: $titleServiceMobileSize !important;
  }
  .tour-service .tour-service-head__des p {
    width: 90%;
  }
  .inspiration-service {
    .inspirations {
      grid-template-columns: auto !important;
      .inspiration {
        &__img {
          grid-template-rows: auto;
        }
        &__des {
          width: 90%;
          left: 5%;
          padding-top: 0;
        }
      }
    }
  }
  .customer-rate-service {
    padding: 4%;
    &-title__name {
      font-size: $subTitleServiceMobileSize;
    }
    .customer-rate--mutil {
      grid-row: unset;
      grid-column: unset;
    }
    .customer-rates {
      &-left {
        grid-template-columns: 100%;
      }
    }
    .customer-rate {
      &__des {
        padding: 1em;
        font-size: $fontsizeNormalMobile;
      }
    }
  }
  .infomation-vietnam-tour {
    .userfuls {
      grid-template-columns: auto;
      .useful-item {
        &__des {
          &-title {
            font-size: $fontsizeNormalMobile;
          }
          &-content {
            font-size: $fontsizeNormalMobile;
          }
        }
      }
    }
  }
  .header-banner__slogan {
    font-size: 33px !important;
  }
  .style-service-right-wrap {
    display: flex;
    justify-content: center;
    .style-service-right {
      right: 0;
    }
  }
  .multi-tour-right {
    padding-left: 0;
  }

  .content-body{
    margin-top: 4em;
    padding: 0 5%;
    margin-bottom: 10em;
    //p,h4{
    //  padding: 0 5vw;
    //  @include montserrat-font;
    //}
    //h4{
    //  font-weight: 600;
    //}
    //
    //
    //.d-grid-content{
    //  display: grid;
    //  grid-template-columns: 100%;
    //  grid-row-gap: 20px;
    //  img{
    //    width: 100%;
    //    height: 100%;
    //    max-height:730px;
    //  }
    //}
    img,iframe,video,audio{
      max-width: 100%;
      height:auto;
    }
  iframe,video,audio{
      max-width: 100%;

  }
  }
}
