@import "partials/font";
@import "partials/variables";
@import "partials/mixin";
@import "./header";
@import "./footer";

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@media screen and (min-width: 1710px) {
    .blog-service .blog-item__img{
        max-width: 100% !important;
        width: 100% !important;
        height: calc(600px * 1.3);
    }
}

.more-post-paginate{
    margin: 102px 0;
    .page-item{
        &:first-child,&:last-child{
            display: none;
        }
    }
    .page-link{

        border-radius: 50%;
        background-color: #635e5e;
        color: #fff;
        opacity: 1;
        width: 33px;
        font-size: 14px;
        height: 33px;
        display: flex;
        justify-content: center;
        align-content: center;
        border: none;
        margin-left: 10px !important;
    }
}
.tour-header {
  .header-banner-tour {
    &__des {
      @include montserrat-font;
      font-size: $headerTitleFontSize;
      font-weight: 300;
    }
    padding-top: 10%;
  }
}
.blog-service {
  margin-top: 4em;
  .blog-service-head {
    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      @include dancing-script-font-bold;
      font-size: $titleFontSize;
      color: $headerTopColor;
      position: relative;
      flex-direction: column;
        @media screen and (max-width: $sm) {
            span{
                text-align: center;
            }
        }

        h1
        {
            display: flex;
            align-items: center;
            justify-content: center;
            @include dancing-script-font-bold;
            font-size: $titleFontSize;
            color: $headerTopColor;
            position: relative;
            flex-direction: column;
            @media screen and (max-width: $sm) {

                text-align: center;
            }

        }
    }
    &__des {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
        margin-top: 1em;
        @include montserrat-font-regular;
      p {
        width: 50%;
          @include montserrat-font-regular;
        text-align: center;
      }
    }
  }
  .blog-items{
    margin-top: 3em;
  }
  .blog-item {
      margin-bottom: 50px;
      &__img {
          max-height: 628px;
          width: 416px;
          max-width: 100%;
          display: block;
          @media screen and (max-width: $sm) {
              width: 100% !important;
          }
          img {
              width: 100%;
              height: 100%;
          }
      }
    &__name {
      text-decoration: none;
      text-align: center;
      margin-top: 1em;
      @include montserrat-font-semi-bold;
    }
    &-des {
      display: grid;
      justify-items: center;
      &__content {
        text-align: center;
        font-size: 15px;
        @include montserrat-font-regular;
      }
    }

  }
}

.article-service{
    position: relative;
    &-content{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 4em;
    }
    &-head {
        &__title {
          display: flex;
          align-items: center;
          justify-content: center;
          @include dancing-script-font-bold;
          font-size: 50px;
          color: $headerTopColor;
          position: relative;
          flex-direction: column;
        }
        &__line{
            width: 100px;
        }
    }
    &-image{
      width: 100%;
      height: auto;
      img{
        width: 100%;
      }
    }

    &-des{
        display: flex;
        padding-top: 10%;
        align-items: center;
        flex-direction: column;
        color: #fff;
        &__title{
            text-transform: uppercase;
            @include montserrat-font-semi-bold;
        }
        &__des{
            @include montserrat-font-light;
        }
    }
}

.suggetion-service{
    margin-top: 1em;
    padding: 2em;
    background-color: #f9f8f8;
    &-head {
        &__title {
          display: flex;
          align-items: center;
          justify-content: center;
          @include dancing-script-font-bold;
          font-size: 50px;
          color: $headerTopColor;
          position: relative;
          flex-direction: column;
            @media screen and (max-width: $sm) {
                span{
                    text-align: center;
                }
            }
        }
        &__line{
            width: 100px;
        }
    }

    &-des{
        display: flex;
        justify-content: center;
        padding-top: 1em;
        p{
            width: min(500px, 60%);
            @include montserrat-font-semi-bold;
            &::before {
                content: '\201C';
                padding-right: 2px;
            }
            &::after {
                content: '\201D';
            }
        }
    }
}


.moreblog-service {
    margin-top: 4em;
    margin-bottom: 4em;

    .moreblog-service-head {
        &__line{
            width: 100px;
        }
      &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        @include dancing-script-font-bold;
        font-size: 50px;
        color: $headerTopColor;
        position: relative;
        flex-direction: column;
          @media screen and (max-width: $sm) {
              span{
                  text-align: center;
              }
          }
      }
      &__des {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        p {
          width: 50%;
          text-align: center;
        }

      }
    }
    .blog-items{
      margin-top: 3em;
    }
    .blog-item {
      &__img {
        display: flex;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: auto;
        }
      }
      &__name {
        text-decoration: none;
        text-align: center;
        margin-top: 1em;
        @include montserrat-font-semi-bold;
        font-weight: bold;
      }
      &-des {
        display: grid;
        justify-items: center;
        &__content {
          text-align: center;
          font-size: 15px;
          @include montserrat-font-regular;
          @include text-over2;
        }
      }

    }

    .moreblog-service-pagination{
        .page-item{
            width: 42px;
            height: 42px;
        }
        .page-link{
            border-radius: 50%;
            margin: 2px;
            background: #635e5e;
            color: #fff;
        }
    }

  }
.line-service{
    background-color: $headerTopColor;
    height: 15px;
    width: 100%;
}



@media screen and (max-width:768px) and (min-width:576px) {
    .article-service-content{
        padding: 2em;
    }
}
@media screen and (max-width: 575.98px) {
  html,
  body {
    overflow-x: hidden;
  }
  .contact-service-form {
    padding: 0 !important;
  }
  .contact-service-title {
    font-size: 1.5em;
  }
  .contact-service-des {
    font-size: 12px;
  }
  .contact-service-ques {
    padding: 0 4%;
    font-size: 12px;
  }

  .tour-service-head__title {
    font-size: $titleServiceMobileSize !important;
  }
  .tour-service .tour-service-head__des p {
    width: 90%;
  }
  .inspiration-service {
    .inspirations {
      grid-template-columns: auto !important;
      .inspiration {
        &__img {
          grid-template-rows: auto;
        }
        &__des {
          width: 90%;
          left: 5%;
          padding-top: 0;
        }
      }
    }
  }
  .customer-rate-service {
    padding: 4%;
    &-title__name {
      font-size: $subTitleServiceMobileSize;
    }
    .customer-rate--mutil {
      grid-row: unset;
      grid-column: unset;
    }
    .customer-rates {
      &-left {
        grid-template-columns: 100%;
      }
    }
    .customer-rate {
      &__des {
        padding: 1em;
        font-size: $fontsizeNormalMobile;
      }
    }
  }
  .infomation-vietnam-tour {
    .userfuls {
      grid-template-columns: auto;
      .useful-item {
        &__des {
          &-title {
            font-size: $fontsizeNormalMobile;
          }
          &-content {
            font-size: $fontsizeNormalMobile;
          }
        }
      }
    }
  }
  .header-banner__slogan {
    font-size: 33px !important;
  }
  .style-service-right-wrap {
    display: flex;
    justify-content: center;
    .style-service-right {
      right: 0;
    }
  }
  .multi-tour-right {
    padding-left: 0;
  }
  .blog-service{
    &-head__des{
      p{
        width: 100% !important;
      }
    }
  }

  .article-service{
    &-content{
      padding: 1em 1em;
    }

  }
    .article-service-image img {
        width: 100%;
        height: 250px;
    }
  .suggetion-service{
    &-des{
      p{
        width: 100%;
      }
    }
  }
}
