@import "partials/font";
@import "partials/variables";
@import "partials/mixin";
@import "./header";
@import "./footer";

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.w-fit-content{
    width: fit-content;
}
.btn-submit-form{
    background: #c79301;
    color: #fff;
    &:hover{
        background: #957a08;
        color: #fff;
    }
}
.bookingService{
padding-top: 100px;
    &-title{
        @include title-special-font;
        font-size: 50px;
        color: $headerTopColor;
        font-weight: bold;
        position: relative;
        text-align: center;
    }
.booking-tour-info{
    margin-top: 40px;
    .title-tour-info a{
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
        @include montserrat-font;
        color: $headerTopColor !important;
        text-decoration: none;

    }
}


    #book-tour-form{
        margin-top: 40px;
        .title-contactinfo{
            color: #c79301;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 25px;
            text-transform: uppercase;
            @include montserrat-font;
        }
    }
}


@media screen and (max-width:768px) and (min-width:576px) {

}

@media screen and (max-width: 575.98px) {
  html,
  body {
    overflow-x: hidden;
  }


}
