@import "partials/font";
@import "partials/variables";
@import "partials/mixin";
@import "./header";
@import "./footer";

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.contact-us {
    padding-top: 100px;
}
.panel-default {
    border-color: #ddd !important;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.contact_form {
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.25);
    padding: 20px;
    font-size: 16px;
    h1 {
        font-size: 32px;
    }
}
.panel>.list-group, .panel>.panel-collapse>.list-group {
    margin-bottom: 0;
}
a.list-group-item, button.list-group-item {
    color: #555;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.panel-heading+.list-group .list-group-item:first-child {
    border-top-width: 0;
}
.panel>.list-group .list-group-item, .panel>.panel-collapse>.list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

    h3{
        font-size: 22px;
    }
}
.padding-top-0 {
    padding-top: 0!important;
}

.padding-bottom-0 {
    padding-bottom: 0;
}
.margin-bottom-0 {
    margin-bottom: 0!important;
}

.contact_form__row__input.required select {
    border-left: 3px solid #c00;
}

.contact_form__row__input select {
    height: 46px;
    border-radius: 0;
}

.contact_form__row__input.required input {
    border-left: 3px solid #c00;
}
.contact_form__row__input input {
    height: 46px;
    border-radius: 0;
}
.contact_form__row__input.required input {
    border-left: 3px solid #c00;
}

.contact_form__row__input input {
    height: 46px;
    border-radius: 0;
}
.contact_form__row__input.required textarea {
    border-left: 3px solid #c00;
}
.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}
.contact_form__row {
    margin-bottom: 30px;
}
.contact_form__row__input .checkbox label {
    padding-left: 0;
}

.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}
.contact_form__row__input .checkbox {
    padding-top: 0;
    margin-bottom: 10px;
}
.form-horizontal .checkbox, .form-horizontal .radio {
    min-height: 27px;
}
.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contact_form__row__input input[type=radio] {
    height: auto;
}

.contact_form__row__input input {
    height: 46px;
    border-radius: 0;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    line-height: normal;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}
.form-group {
    margin-bottom: 15px;
}
.margin-top-20 {
    margin-top: 20px;
}
btn-block {
    display: block;
    width: 100%;
}
.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.contact_form__row__input textarea {
    border-radius: 0;
}
textarea.form-control {
    height: auto;
}
.contact_form__row__label.social>div {
    font-size: 14px;
    color: #828282;
    font-weight: 400;
}
.social{
    align-items: flex-end;
}

@media (min-width: 768px) {

    .contact_form__row__label.social {
        display: block;
        text-align: right;
    }
    .contact_form__row__label.social {
        //display: inline-flex;
    }
    .contact_form__row__label {
        justify-content: flex-end;
    }
    .contact_form__row__label {
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-right: 0;
        font-weight: 700;
    }
    .contact_form__row__label.social{
        align-items: flex-end;
    }
    .contact_form__row__label {
        justify-content: flex-end;
    }
    .contact_form__row__label {
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 0;
        font-weight: 700;
    }
}
@media screen and (max-width:820px) and (min-width:576px) {

}
@media screen and (max-width: 575.98px) {
  html,
  body {
    overflow-x: hidden;
  }

}
