@import "partials/font";
@import "./partials/variables";
@import "./partials/mixin";
@import "./header";
@import "./footer";

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


a {
    cursor: pointer;
}
@media screen and (min-width: 800px) {
    .tour-service .tour-item__img{
        max-width: 100%;
    }
}

@media screen and (min-width: 1710px) {
    .tour-service .tour-item__img{
        width: 100% !important;
    }
}

.navbar-toggler:focus {
    box-shadow: none;
}

.img-response {
    width: 100%;
    height: auto;
}


.tour-service {
    margin-top: 4em;
    margin-bottom: 4em;

    .tour-service-head {
        &__title {
            display: flex;
            align-items: center;
            justify-content: center;
            @include dancing-script-font-bold;
            font-size: $titleFontSize;
            color: $headerTopColor;
            position: relative;
            flex-direction: column;
            @media screen and (max-width: $sm) {
                span{
                    text-align: center;
                }
            }
            h1
            {
                display: flex;
                align-items: center;
                justify-content: center;
                @include dancing-script-font-bold;
                font-size: $titleFontSize;
                color: $headerTopColor;
                position: relative;
                flex-direction: column;
                @media screen and (max-width: $sm) {

                        text-align: center;

                }

            }
        }

        &__des {
            display: flex;
            justify-content: center;
            margin-top: 1em;
            p {
                width: 50%;
                text-align: center;
                @include montserrat-font-regular;
            }
        }
    }

    .tour-items {
    }

    .tour-item {
        margin-top: 4em;

        &__img {
            padding: 0 2px;
            width: 306px;
            height: 462px;
            display: block;
            max-width: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }

        &__name {
            color: $headerTopColor;
            text-decoration: none;
            text-align: center;
            margin-top: 1em;
            @include montserrat-font-bold;
            padding-bottom: 1em;
        }

        &-des {
            display: grid;
            grid-template-rows: 30px auto auto;
            justify-items: center;

            &__day,
            &__content {
                text-align: center;
                font-size: 15px;
                @include montserrat-font-regular;
            }
        }

        &-link {
            text-align: center;
            text-decoration: none;
            color: $headerTopColor;
            position: relative;
            width: fit-content;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: $headerTopColor;
                bottom: 0;
                left: 0;
            }
        }
    }
}

.contact-service {
    background: #cacbc8;
    padding-bottom: 2em;

    .contact-avatar {
        padding-top: 2em;
        display: flex;
        justify-content: center;

        &__img {
            max-width: 80px;
            max-height: 80px;
            margin: 0 2em;

            &:first-child,
            &:last-child {
                margin: 0;
            }

            .img-round {
                border-radius: 50%;
                width: 100%;
                height: 100%;
            }
        }
    }

    &-title {
        @include title-special-font;
        font-size: 33px;
        text-align: center;
    }

    &-des {
        @include montserrat-font;
        font-size: 15px;
        text-align: center;
    }

    &-ques {
        padding: 0 24%;
        display: flex;
        justify-content: space-evenly;
        @include montserrat-font;
        font-size: 15px;
        color: $headerTopColor;
    }

    &-form {
        padding: 0 24%;

        @include montserrat-font;

        &-name {
            display: grid;
            grid-template-columns: repeat(2, calc(50% - 5px));
            grid-column-gap: 10px;
            padding: 20px 0;
        }
    }

    #contactServiceForm {
        padding: 2em;
        background: #fff;
    }

    .btn-submit-form-contact {
        background-color: $headerTopColor;
        width: 100%;
        color: #fff;
    }

    .diable-resize {
        resize: none;
    }
}

.style-service {
    padding-top: 2em;
    padding-bottom: 2em;

    &-left {
        border: 1px solid #aaaaaa40;
        padding: 2em;

        &__title {
            @include title-special-font;
            font-size: 34px;
            color: $headerTopColor;
            position: relative;
            width: fit-content;
            @media screen and (max-width: $sm) {

                    text-align: center;

            }
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                background: #767724;
                bottom: 0;
                left: 0;
            }
        }

        &__des {
            margin-top: 3em;
            margin-bottom: 3em;

            @include montserrat-font;
            font-size: 15px;
        }
    }

    .style-list-tour {
        display: grid;
        grid-row-gap: 1.5em;

        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .dropdown-toggle::after {
                display: none;
            }

            .dropdown-menu {
                width: 100%;
            }

            p {
                margin-bottom: 0;
                justify-content: space-between;
                align-items: baseline;
                width: 100%;
                display: flex;
                @include montserrat-font;
                font-weight: 600;
                font-size: 17px;
            }
        }
    }
    .style-service-right-wrap{
        @media screen and (min-width: $sm) {
            padding-left: 8.3%;
        }
    }
    .style-service-right {
        position: relative;
        display: grid;
    }
}

.multi-tour {
    padding-bottom: 2em;

    &-left {
        padding-right: 4%;

        &__img {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    &-title {
        @include title-special-font;
        color: $headerTopColor;
        font-size: 34px;
        @media screen and (max-width: $sm) {

                text-align: center;

        }
    }

    &-des {
        @include montserrat-font;
        font-size: 15px;
    }

    &-right {
        padding-left: 8.3%;

        &-content {
            border: 1px solid #aaaaaa40;
            padding: 5em 1.5em;
            height: 80%;
            margin-top: 20%;
        }
        a{
            text-decoration: none;
            //@include montserrat-font-semi-bold;
        }
    }

    .multi-tours {
        display: flex;
        flex-direction: column;

        a {
            color: #000;
            @include montserrat-font;
            font-weight: 600;
            font-size: 17px;
            margin-bottom: 30px;
            text-decoration: none;
        }
    }
}

.infomation-vietnam-tour {
    background: #79806a;
    padding: 1em 0;
    @media screen and (min-width:800px) {
        padding: 47px 0;
    }
    &__title {
        @include dancing-script-font-regular;
        font-size: 34px;
        color: #fff;
        text-align: center;
    }
    @media screen and (min-width:800px) {
        .userfuls {
            margin-top: 50px;
        }
    }
    .userfuls {
        justify-content: center;
    }

    .userfuls-left{
        padding-right: 4%;
    }

    .userfuls-right{
        padding-left: 4%;
    }
    .useful-item {
        display: grid;
        grid-template-columns: 50px auto;
        height: 83px;
        margin-bottom: 25px;
        &__des {
            &-title {
                @include montserrat-font-bold;
                font-weight: 600;
                font-size: 16px;
                margin-bottom: 15px;
            }
            &-content {
                @include montserrat-font-regular;
                font-size: 15px;
                color: #fff;
                margin-bottom: 0;
            }


        }

        &__icon {
            svg {
                width: 40px;
            }
        }
    }
}

.inspiration-service {
    padding:4% 5%;

    &-title {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        &__name {
            @include dancing-script-font-medium;
            font-size: 50px;
            color: $headerTopColor;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            span{
                @include dancing-script-font-medium;
            }
        }

        &__des {
            @include montserrat-font;
            font-size: 15px;
            width: 60%;
        }
    }

    .inspirations {
        display: grid;
        grid-template-columns: 46% 26% 26%;
        grid-column-gap: 1em;
        justify-content: center;

        .inspiration {
            &:first-child .inspiration__des {
                right: -16%;
                padding-left: 60px;
                left: unset;
            }

            width: 100%;
            height: 100%;

            &__img {
                width: 100%;
                display: grid;
                grid-template-rows: 350px;

                img {
                    width: 100%;
                    height: 350px;
                }
            }

            &__des {
                border-style: solid;
                border-width: 1px;
                border-color: rgb(28, 27, 28);
                background-color: rgba(252, 253, 251, 0.541);
                position: relative;
                top: -60px;
                width: 80%;
                left: 10%;
                height: 300px;
                display: grid;
                grid-template-rows: 59px 173px 66px;

                &-des {
                    display: -webkit-box !important;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 5;
                    -webkit-box-orient: vertical;
                    width: 100%;
                    // margin-bottom: 0;
                    margin: 25px 0;
                    padding: 0 15px;
                    @include montserrat-font-regular;
                }

                &-title {
                    @include montserrat-font-bold;
                    font-size: 15px;
                    color: $headerTopColor;
                    margin-bottom: 0;
                    padding: 0 15px;
                    display: flex;
                    align-items: center;
                }

                &-link {
                    text-decoration: none;
                    @include montserrat-font-regular;
                    font-size: 15px;
                    color: $headerTopColor;
                    margin-bottom: 0;
                    padding: 0 15px;
                }
            }
        }
    }

    .inspiration-more-btn {
        margin-top: 2em;
        text-decoration: none;
        @include montserrat-font-regular;
        font-size: 15px;
        color: $headerTopColor;
        border: 1px solid #000;
        border-radius: 0;
        width: 100%;
    }
}

.customer-rate-service {
    background: #f9f5f6;
    padding: 2em 3em 3em 3em;

    &-title {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__name {
            @include dancing-script-font-medium;
            font-size: 34px;
            color: $headerTopColor;
            @media screen and (max-width: $sm) {

                    text-align: center;

            }
        }

        &__des {
            @include montserrat-font-regular;
            font-size: 15px;
        }
    }

    .customer-rates {
        &-left {
            display: grid;
            grid-template-columns: repeat(3, 33.33%);
            grid-gap: 0.5em;
        }
    }

    .customer-rate {
        position: relative;

        &:hover {
            .customer-rate__img {
                opacity: 0.5;
            }
        }

        &__img {
            width: 100%;
            height: 100%;
            display: flex;
            img {
                width: 100%;
                transition: all 0.5s ease;
            }
        }

        &--mutil {
            grid-row: 1/3;
            grid-column: 3/3;
        }

        &__des {
            position: absolute;
            padding: 2em;
            bottom: 0;
            display: flex;
            color: #fff;
            align-items: center;

            p {
                margin: 0;
            }
        }

        &__name {
            margin-left: 1em !important;
            @include montserrat-font-regular;
        }
    }
}

@media screen and (max-width: 820px) and (min-width: 576px) {
    .inspiration-service {
        .inspirations {
            display: flex;
            flex-wrap: wrap;

            .inspiration:first-child {
                width: 100%;

                .inspiration__img {
                }
            }

            .inspiration {
                width: 48%;

                .inspiration__img {
                    grid-template-rows: 360px;
                    img{
                        height: 360px;
                    }
                }
            }
        }
    }
    .tour-service .tour-item__img{
        width: 152px;
        height: 229px;
    }

    .customer-rate-service .customer-rate__des{
        padding: 1em;
    }
    .inspiration-service-title__des{
        width: 90%;
    }

    .style-service-left{
        padding: 0.5em;
    }
        .contact-service-form {
            padding: 0px 12%;
        }

    .contact-service-ques {
        padding: 0 18%;
    }
    .tour-service .tour-service-head__des p{
        width: 80%;
    }
}

@media screen and (max-width: 575.98px) {
    html,
    body {
        overflow-x: hidden;
    }
    .contact-service-form {
        padding: 0 !important;
    }
    .style-service-left{
        padding: 0.5em;
    }
    .inspiration-service-title__des{
        width: 90%;
    }
    .contact-service-title {
        font-size: 1.5em;
    }
    .contact-service-des {
        font-size: 12px;
    }
    .contact-service-ques {
        padding: 0 4%;
        font-size: 12px;
    }

    .tour-service-head__title {
        font-size: $titleServiceMobileSize !important;
    }
    .tour-service .tour-service-head__des p {
        width: 90%;
    }
    .inspiration-service {
        .inspirations {
            grid-template-columns: auto !important;

            .inspiration {
                &__img {
                    grid-template-rows: auto;
                }

                &__des {
                    width: 90%;
                    left: 5%;
                    padding-top: 0;
                }
            }
        }
    }
    .customer-rate-service {
        padding: 4%;

        &-title__name {
            //font-size: $subTitleServiceMobileSize
        }

        .customer-rate--mutil {
            grid-row: unset;
            grid-column: unset;
        }

        .customer-rates {
            &-left {
                grid-template-columns: 100%;
            }
        }

        .customer-rate {
            &__des {
                padding: 1em;
                font-size: $fontsizeNormalMobile;
            }
        }


    }
    .infomation-vietnam-tour {
        .userfuls {
            grid-template-columns: auto;

            .useful-item {
                &__des {
                    &-title {
                        font-size: $fontsizeNormalMobile;
                    }

                    &-content {
                        font-size: $fontsizeNormalMobile;
                    }
                }
            }
        }
    }
    .header-banner__slogan {
        font-size: 33px !important;
    }
    .style-service-right-wrap {
        display: flex;
        justify-content: center;

        .style-service-right {
            right: 0;
        }
    }
    .multi-tour-right {
        padding-left: 0;
    }

    .inspiration-service {
        padding: 4%;

        &-title {
            &__des {
                width: 100%;
            }
        }
    }

    .multi-tour-right-content {
        height: 100%;
        margin-top: 1em;
    }

    .inspiration-service .inspirations .inspiration:first-child .inspiration__des {
        right: -6%;
    }


    .userfuls-left{
        padding-right: 0 !important;
    }

    .userfuls-right{
        padding-left:  0 !important;
    }

    .infomation-vietnam-tour .useful-item{
        min-width: unset ;
    }
    .customer-rate-service .customer-rate__des{
        padding: 1em;
    }
    .tour-item__img{
       margin: 0 auto;
    }
}

