@import "partials/font";
@import "partials/variables";
@import "partials/mixin";
@import "./header";
@import "./footer";

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
@media screen and (min-width: 1710px) {
    .tour-service .tour-item__img{
        max-width: 100% !important;
        width: 100% !important;
        height: calc(600px * 1.3);
    }
}

.header-banner-tour__des{
    @include montserrat-font-regular;
    font-size: 33px;
}
.header-banner-tour__btn{
    @include montserrat-font-regular;
}
.tour-header {
  .header-banner-tour {
    &__des {
      @include montserrat-font-regular;
      font-size: $headerTitleFontSize;
    }
    padding-top: 10%;
  }
}
.tour-service {
  margin-top: 4em;
  margin-bottom: 4em;
  .tour-service-head {
    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      @include dancing-script-font-bold;
      font-size: $titleFontSize;
      color: $headerTopColor;
      position: relative;
      flex-direction: column;
        h1
        {
            display: flex;
            align-items: center;
            justify-content: center;
            @include dancing-script-font-bold;
            font-size: $titleFontSize;
            color: $headerTopColor;
            position: relative;
            flex-direction: column;
            @media screen and (max-width: $sm) {

                text-align: center;

            }

        }
    }
    &__des {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
        margin-top: 1em;
        @include montserrat-font-regular;

        p {
        width: 50%;
          @include montserrat-font-regular;
        text-align: center;
      }
    }
  }
  .tour-item {
    margin-bottom: 5em;
    &__img {
        max-height: 628px;
        width: 416px;
        max-width: 100%;
        display: block;
        @media screen and (max-width: $sm) {
            width: 100% !important;
        }
      img {
        width: 100%;
        height: 100%;
      }
    }
    &__name {
      text-decoration: none;
      text-align: center;
      margin-top: 1em;
      @include montserrat-font-semi-bold;
      text-transform: uppercase;
    }
    &-des {
      display: grid;
      grid-template-rows: 30px 100px auto;
      justify-items: center;
        @include montserrat-font-regular;
      &__day,
      &__content {
        text-align: center;
        font-size: 15px;

          @include montserrat-font-regular;
      }

    }
    &-link {
      text-align: center;
      text-decoration: none;
      color: $headerTopColor;
      position: relative;
      width: fit-content;
        @include montserrat-font-regular;

        &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $headerTopColor;
        bottom: 0;
        left: 0;
      }
    }

  }

  .btn-more-blog{
    background-color: #d26489;
    width: fit-content;
    color: #fff;
    border-radius: 0;
    padding-left: 1em;
    padding-right: 1em;
    text-transform: uppercase;
      @include montserrat-font-regular;

  }
}

.line-service{
    background-color: $headerTopColor;
    height: 15px;
    width: 100%;
}

@media screen and (max-width: 575.98px) {
  html,
  body {
    overflow-x: hidden;
  }
  .contact-service-form {
    padding: 0 !important;
  }
  .contact-service-title {
    font-size: 1.5em;
  }
  .contact-service-des {
    font-size: 12px;
  }
  .contact-service-ques {
    padding: 0 4%;
    font-size: 12px;
  }

  .tour-service-head__title {
    font-size: $titleServiceMobileSize !important;
  }
  .tour-service .tour-service-head__des p {
    width: 90%;
  }
  .inspiration-service {
    .inspirations {
      grid-template-columns: auto !important;
      .inspiration {
        &__img {
          grid-template-rows: auto;
        }
        &__des {
          width: 90%;
          left: 5%;
          padding-top: 0;
        }
      }
    }
  }
  .customer-rate-service {
    padding: 4%;
    &-title__name {
      font-size: $subTitleServiceMobileSize;
    }
    .customer-rate--mutil {
      grid-row: unset;
      grid-column: unset;
    }
    .customer-rates {
      &-left {
        grid-template-columns: 100%;
      }
    }
    .customer-rate {
      &__des {
        padding: 1em;
        font-size: $fontsizeNormalMobile;
      }
    }
  }
  .infomation-vietnam-tour {
    .userfuls {
      grid-template-columns: auto;
      .useful-item {
        &__des {
          &-title {
            font-size: $fontsizeNormalMobile;
          }
          &-content {
            font-size: $fontsizeNormalMobile;
          }
        }
      }
    }
  }
  .header-banner__slogan {
    font-size: 33px !important;
  }
  .style-service-right-wrap {
    display: flex;
    justify-content: center;
    .style-service-right {
      right: 0;
    }
  }
  .multi-tour-right {
    padding-left: 0;
  }
}
