@import "partials/font";
@import "partials/variables";
@import "partials/mixin";
@import "./header";
@import "./footer";

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


.header-banner-tour__des{
    @include montserrat-font-regular;
    font-size: 33px;
}
.btn-group .header-banner-tour__btn{
    @include montserrat-font-regular;
}
.tour-header {
  .header-banner-tour {
    &__des {
      @include montserrat-font-regular;
      font-size: $headerTitleFontSize;
      font-weight: 300;
    }
    padding-top: 10%;
  }
}
.tour-service {
  margin-top: 4em;
  margin-bottom: 4em;
  .tour-service-head {
    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      @include dancing-script-font-bold;
      font-size: $titleFontSize;
      color: $headerTopColor;
      position: relative;
      flex-direction: column;
        @media screen and (max-width: $sm) {
            span{
                text-align: center;
            }
        }
        h1
        {
            display: flex;
            align-items: center;
            justify-content: center;
            @include dancing-script-font-bold;
            font-size: $titleFontSize;
            color: $headerTopColor;
            position: relative;
            flex-direction: column;
            @media screen and (max-width: $sm) {

                text-align: center;

            }

        }
    }
    &__des {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
        margin-top: 1em;
        @include montserrat-font-regular;
      p {
          @include montserrat-font-regular;

          width: 50%;
        text-align: center;
      }
    }
  }
  .tour-items {
  }
  .tour-item {
    margin-top: 3em;
    &__img {
        width: 341px;

        display: block;
        max-width: 100%;
        @media screen and (min-width: $withFullSizeImage) {
                width: 100% !important;
                height: calc(511px * 1.29);
        }

        @media screen and (max-width: $sm) {
            width: 100% !important;
        }
      img {
        width: 100%;
        height: 100%;
          max-width: 100%;
          max-height: 100%;
      }
    }
    &__name {
      color: $headerTopColor;
      text-decoration: none;
      text-align: center;
      margin-top: 1em;
     @include montserrat-font-semi-bold;;
    }
    &-des {
      display: grid;
      grid-template-rows: 30px 100px auto;
      justify-items: center;
        @include montserrat-font-regular;
      &__day,
      &__content {
        text-align: center;
        font-size: 15px;
          @include montserrat-font-regular;
      }
    }

    &-link {
      text-align: center;
      text-decoration: none;
      color: $headerTopColor;
      position: relative;
      width: fit-content;
        @include montserrat-font-regular;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $headerTopColor;
        bottom: 0;
        left: 0;
      }
    }
  }

  .recomment-tour {
    &-title {
      margin-top: 3em;
      font-size: 25px;
      display: flex;
      justify-content: center;
      @include montserrat-font-semi-bold;
      color: $headerTopColor;
        @media screen and (max-width: $sm) {
            p{
                text-align: center;
            }
        }
    }
  }

  #carouselTravelChoise {
    .carousel-control-next {
      height: 80%;
      right: -4em;
      width: inherit;
      opacity: 1;
      .carousel-control-next-icon {
        background-image: unset;
        color: black;
        font-size: 2em;
      }
    }
    .carousel-control-prev {
      height: 80%;
      left: -4em;
      width: inherit;
      opacity: 1;
      .carousel-control-prev-icon {
        background-image: unset;
        font-size: 2em;
        rotate: 180deg;
        color: black;
      }
    }
  }
  #carouselTourRecoment {
    .carousel-control-next {
      height: 80%;
      right: -4em;
      width: inherit;
      opacity: 1;
      .carousel-control-next-icon {
        background-image: unset;
        color: black;
        font-size: 2em;
      }
    }
    .carousel-control-prev {
      height: 80%;
      left: -4em;
      width: inherit;
      opacity: 1;
      .carousel-control-prev-icon {
        background-image: unset;
        font-size: 2em;
        rotate: 180deg;
        color: black;
      }
    }
  }
}

.travel-interest {
  background: #9e3c5d;
  @include montserrat-font;
  color: #fff;

  padding-bottom: 2em;
    .travel-interest-left {
        padding-top: 85px;
    }
  .travel-interest-des__note {
    font-size: 14px;
      @include montserrat-font-light-italic;
  }
  .travel-interest-des__title {
    font-size: 25px;
      margin-bottom: 35px;
      @include  montserrat-font-semi-bold;
  }

  .travel-interest-des__content {
    width: 90%;
      @include  montserrat-font-regular;

  }
  .travel-interest-des-logo{
    padding-top: 122px;
  }
  .travel-interest-des-logo__tour {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap:20px 10px;

    .travel-interest-tour {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
        a{
            @include montserrat-font-semi-bold;
        }
      &:nth-child(3n) {
        .travel-interest-tour__img {
          width: 64px;
          height: 64px;
          border: 1px solid;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #fff;
          img {
          }
        }
      }
    }
  }

  .btn-create-tour {
    background: #6c6d38;
    color: #fff;
    max-width: 240px;
    border-radius: 0;
      @include montserrat-font-semi-bold;
  }
}

@media screen and (max-width:768px) and (min-width:576px) {
  .tour-service  {
    #carouselTourRecoment {
      .carousel-control-next {
        right: -2em;

      }
      .carousel-control-prev {
        left: -2em;
      }
    }
  #carouselTravelChoise {
    .carousel-control-next {
      right: -2em;

    }
    .carousel-control-prev {
      left: -2em;
    }
  }
  }
}

@media screen and (max-width: 575.98px) {
  html,
  body {
    overflow-x: hidden;
  }
  .contact-service-form {
    padding: 0 !important;
  }
  .contact-service-title {
    font-size: 1.5em;
  }
  .contact-service-des {
    font-size: 12px;
  }
  .contact-service-ques {
    padding: 0 4%;
    font-size: 12px;
  }

  .tour-service-head__title {
    font-size: $titleServiceMobileSize !important;
  }
  .tour-service .tour-service-head__des p {
    width: 90%;

  }
  .inspiration-service {
    .inspirations {
      grid-template-columns: auto !important;
      .inspiration {
        &__img {
          grid-template-rows: auto;
        }
        &__des {
          width: 90%;
          left: 5%;
          padding-top: 0;
        }
      }
    }
  }
  .customer-rate-service {
    padding: 4%;
    &-title__name {
      font-size: $subTitleServiceMobileSize;
    }
    .customer-rate--mutil {
      grid-row: unset;
      grid-column: unset;
    }
    .customer-rates {
      &-left {
        grid-template-columns: 100%;
      }
    }
    .customer-rate {
      &__des {
        padding: 1em;
        font-size: $fontsizeNormalMobile;
      }
    }
  }
  .infomation-vietnam-tour {
    .userfuls {
      grid-template-columns: auto;
      .useful-item {
        &__des {
          &-title {
            font-size: $fontsizeNormalMobile;
          }
          &-content {
            font-size: $fontsizeNormalMobile;
          }
        }
      }
    }
  }
  .header-banner__slogan {
    font-size: 33px !important;
  }
  .style-service-right-wrap {
    display: flex;
    justify-content: center;
    .style-service-right {
      right: 0;
    }
  }
  .multi-tour-right {
    padding-left: 0;
  }
}
