@import "partials/font";
@import "partials/variables";
@import "partials/mixin";
@import "./header";
@import "./footer";
@import "./ckeditor";
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

@media screen and (min-width: 1710px) {
    .similar-tour-service .similar-tour-item__img,.tour-highlight .tour-highlight-item__img{
        max-width: 100% !important;
        max-height: 100% !important;
    }
    .similar-tour-service .similar-tour-item__img img,.tour-highlight .tour-highlight-item__img img{
        max-width: 100% !important;
        height: 100% !important;
    }
}
@media screen and (min-width: 800px) {
    .container-tour-service-info{
        width: 73%;
    }
}
.raw-html-embed{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    iframe{    max-width: 100%;
    }
}
.tour-header {
    .header-banner-tour {
        &__des {
            @include montserrat-font;
            font-size: $headerTitleFontSize;
            font-weight: 300;
        }

        padding-top: 10%;
    }
}

.tour-service {
    margin-top: 4em;
    margin-bottom: 4em;

    .tour-service-head {
        &__title {
            display: flex;
            align-items: center;
            justify-content: center;
            @include dancing-script-font-bold;
            font-size: $titleFontSize;
            color: $headerTopColor;
            position: relative;
            flex-direction: column;
            @media screen and (max-width: $sm) {
                span{
                    text-align: center;
                }
            }
            h1
            {
                display: flex;
                align-items: center;
                justify-content: center;
                @include dancing-script-font-bold;
                font-size: $titleFontSize;
                color: $headerTopColor;
                position: relative;
                flex-direction: column;
                @media screen and (max-width: $sm) {

                    text-align: center;

                }

            }
        }

        &__des {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            @include montserrat-font-regular;
            margin-top: 1em;
            p {
                width: 50%;
                text-align: center;
            }
        }


    }

    .tour-service-info {
        border: 1px solid $headerTopColor;
        padding: 40px;
        display: grid;
        grid-template-columns: repeat(2, auto);

        &__tour {
            span {
                font-weight: bold;
            }
        }
    }

    .tour-service-info-guild {
        display: grid;
        grid-template-columns: 80px auto;
        grid-column-gap: 20px;
        align-items: center;

        &-user {
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                font-weight: bold;
            }

            a {
                text-decoration: none;
                color: #000;
            }
        }
        .tour-service-info-guild__name{
            @include montserrat-font-semi-bold;
            margin-bottom: 12px;
        }
        .tour-service-info-guild__email,.tour-service-info-guild__phone{
            margin-bottom: 12px;
            @include montserrat-font-regular;

        }
        .tour-service-info-guild__link{
            @include montserrat-font-regular;
            font-style: italic;
        }
        &__img {
            width: 80px;
            height: 80px;

            img {
                width: 100%;
            }
        }
    }

    .btn-more-blog {
        background-color: #d26489;
        width: fit-content;
        color: #fff;
        border-radius: 0;
        padding-left: 1em;
        padding-right: 1em;
    }


    &-map {
        &-img {
            padding: 3%;

            img {
                width: 100%;
            }
        }
    }


    .itinerary {
        margin-top: 2em;

        &-title {
            display: flex;
            justify-content: center;

            &__des {
                display: flex;
                justify-content: center;
                padding-top: 2em;
                @include montserrat-font-regular;
                p {
                    width: 90%;
                    @media screen and (min-width: 800px) {
                        width: 58%;
                    }
                    @include montserrat-font-regular;
                }
            }

            &__head {
                display: flex;
                align-items: end;

                &-logo {
                    display: flex;
                    @include montserrat-font-semi-bold;
                    font-size: 25px;
                    img:first-child {
                        width: 26px;
                        height: 52px;
                        position: relative;
                        right: -13px;
                    }
                }

                p {
                    margin-bottom: 0;
                    font-weight: bold;
                    color: #d26489;
                    @include montserrat-font-semi-bold;
                    font-size: 25px;
                }
            }
        }

        display: flex;
        flex-direction: column;
    }


}

.line-service {
    background-color: $headerTopColor;
    height: 15px;
    margin-top: 5em;
    width: 100%;
}


.tour-step-service {
    .tour-step-line-button {
        width: 100%;
        height: 1px;
        background: #e2beca;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    &__head {

        p {
            text-align: right;
            position: relative;
            padding-bottom: 10px;
            text-transform: uppercase;
            @include montserrat-font-light;
            &::after {
                content: "";
                width: 100%;
                position: absolute;
                height: 1px;
                background: #e2beca;
                bottom: 0;
                left: 0;
            }
        }

    }

    .accordion-item .accordion-button {
       @include montserrat-font-bold;
    }

    .accordion-item:nth-child(2n) .accordion-button {
        background-color: #e2beca;
    }
}


.inclusion-service {
    &-head {
        font-size: 50px;
        color: $headerTopColor;

        p {
            text-transform: capitalize;
            @include dancing-script-font-bold;
            text-align: center;
        }
    }

    .inclusion-item {
        &-title {
            font-size: 17px;
            @include montserrat-font-light;
            text-transform: uppercase;
        }

        position: relative;

        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            top: 0;
            background: #000;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.5em;
        width: 90%;
    }

    .inclusion-item-rules {
        .inclusion-item-rule {
            margin-top: 1em;
            display: grid;
            grid-template-columns: 40px auto;
            grid-column-gap: 1em;

            &-content {
                &__name {
                    font-size: 17px;

                    @include montserrat-font-bold;
                    margin-bottom: 0;
                }

                &__des {
                    font-size: 15.6px;
                    @include montserrat-font-light;
                    margin-bottom: 0;
                }
            }
        }
    }
}

.tour-highlight {
    &-head {
        font-size: 50px;
        @include dancing-script-font-bold;
        color: $headerTopColor;
        position: relative;
        text-transform: capitalize;

        p {
            font-weight: 500;
            text-align: center;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background: $headerTopColor;
        }
    }

    .tour-highlight-item {
        margin-top: 1.5em;

        &__img {
            width: 100%;
            max-width: 416px;

            img {
                width: 100%;
                max-width: 416px;
                height: 274px !important;
            }
        }

        &-content {
            text-align: center;
            &__name {
                @include montserrat-font-bold;
                font-size: 17px;
                font-weight: bold;
                margin-top: 0.5em;
            }

            &__des {
                @include montserrat-font-light;
                font-size: 15.8px;
            }
        }

    }


    .tour-highlight-slide {
        margin-bottom: 4em;

        #carouselTourHighlight {
            padding-bottom: 2em;

            .carousel-indicators {
                .btn-change-slide-dot {
                    background: $headerTopColor;
                    border-radius: 50%;
                    width: 0.8em;
                    height: 0.8em;
                    border: 0;
                }
            }
        }
    }
}


.book-now-service {
    background-color: #d6d6d6;

    .book-now-tour {
        padding: 2em 0;
        display: grid;
        grid-template-columns: auto auto;

        &-guild {
            padding-right: 3%;
            display: grid;
            grid-template-columns: 82px auto;
            grid-column-gap: 10px;

            &__img {
                max-width: 82px;

                img {
                    width: 100%;
                    border-radius: 50%;
                }
            }

            &-des {
                @include montserrat-font;

                &__name {
                    font-weight: 600;
                    color: $headerTopColor;
                    font-size: 16.6px;
                    @include  montserrat-font-semi-bold;
                }

                &__des {
                    font-size: 15.8px;
                    @include montserrat-font-light;
                }
            }
        }

        &-btn {
            display: grid;
            grid-template-rows: auto;
            grid-row-gap: 1em;
            @media screen and (max-width: $sm) {
               justify-content: center;
            }
            .btn {
                background-color: $headerTopColor;
                border-radius: 0;
                text-transform: uppercase;
                color: #fff;
                display: flex;
                height: 51px;
                width: 300px;

                padding: 0;
                align-items: center;
                svg{
                    margin: 0 25px;
                }
                span{
                    @include montserrat-font-semi-bold;
                }
            }
        }
    }
}


.similar-tour-service {
    &-head {
        font-size: 50px;
        @include dancing-script-font-bold;
        color: $headerTopColor;
        position: relative;
        text-transform: capitalize;
        p {
            font-weight: 500;
            text-align: center;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background: $headerTopColor;
        }
    }


    .similar-tour-item {
        margin-top: 1.5em;

        &__img {
            width: 100%;
            max-width: 416px;

            img {
                width: 100%;
                max-width: 416px;
                height: 274px !important;
            }
        }

        &-content {
            text-align: center;
            &__name {
                @include montserrat-font-bold;
                font-size: 17px;
                margin-top: 0.5em;
            }

            &__des {
                @include montserrat-font-light;
                font-size: 15.8px;
            }
        }

    }

    .btn-silimar-more {
        border-radius: 0;
        @include montserrat-font-light;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(94, 94, 94);
        background-color: rgb(252, 250, 250);
        width: 229px;
        height: 47px;
        padding: 11px 55px

    }
}

.accordion-button:focus {
    box-shadow: none;
}

@media screen and (max-width: 768px) and (min-width: 576px) {

    .tour-highlight {
        .tour-highlight-item {
            margin-top: 1.5em;

            &__img {
                width: 100%;
                img {
                    width: 100%;
                    max-width: 316px;
                    height: 142px !important;
                }
            }
        }
    }

    .similar-tour-item {
        margin-top: 1.5em;

        &__img {
            width: 100%;

            img {
                width: 100%;
                max-width: 316px;
                height: 142px !important;
            }
        }
    }
    .inclusion-service .inclusion-item {
        padding: 2.5em 0;
    }
    .tour-service-head__des {
        margin: 1.5em 0;

        p {
            width: 100% !important;
        }
    }
    .itinerary-title__des {
        p {
            width: 90% !important;
        }
    }
    .inclusion-items-right {
        display: flex;
        justify-content: end;
    }
    .book-now-service .book-now-tour-btn .btn {
        height: max-content;
    }
}

@media screen and (max-width: 575.98px) {

    .tour-highlight {
        .tour-highlight-item {
            margin-top: 1.5em;

            &__img {
                width: 100%;
                img {
                    width: 100%;
                    height: 208px !important;
                }
            }
        }
    }

    .similar-tour-item {
        margin-top: 1.5em;

        &__img {
            width: 100%;

            img {
                width: 100%;
                height: 208px !important;
            }
        }
    }

    html,
    body {
        overflow-x: hidden;
    }
    .contact-service-form {
        padding: 0 !important;
    }
    .contact-service-title {
        font-size: 1.5em;
    }
    .contact-service-des {
        font-size: 12px;
    }
    .contact-service-ques {
        padding: 0 4%;
        font-size: 12px;
    }


    .tour-service {
        &-head {
            &__des p {
                width: 90% !important;
            }

            &__title {
                font-size: $titleServiceMobileSize !important;
            }
        }

        .itinerary-title__des p {
            width: 94%;
        }

        .tour-service-info-guild {
            grid-template-columns:100px auto;
        }
    }
    .inspiration-service {
        .inspirations {
            grid-template-columns: auto !important;

            .inspiration {
                &__img {
                    grid-template-rows: auto;
                }

                &__des {
                    width: 90%;
                    left: 5%;
                    padding-top: 0;
                }
            }
        }
    }
    .customer-rate-service {
        padding: 4%;

        &-title__name {
            font-size: $subTitleServiceMobileSize;
        }

        .customer-rate--mutil {
            grid-row: unset;
            grid-column: unset;
        }

        .customer-rates {
            &-left {
                grid-template-columns: 100%;
            }
        }

        .customer-rate {
            &__des {
                padding: 1em;
                font-size: $fontsizeNormalMobile;
            }
        }
    }

    .header-banner__slogan {
        font-size: 33px !important;
    }
    .style-service-right-wrap {
        display: flex;
        justify-content: center;

        .style-service-right {
            right: 0;
        }
    }
    .multi-tour-right {
        padding-left: 0;
    }


    .tour-service .tour-service-info {
        grid-template-columns: auto;
    }
    .book-now-tour {
        grid-template-columns: auto !important;

        .btn {
            text-align: left;
        }
    }
    .inclusion-service {
        .inclusion-item {
            width: 100%;
        }
    }
    .similar-tour-service {
        margin-top: 2em;
    }
}
