@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Itim&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,100;1,200;1,300;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Itim&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,100;1,200;1,300;1,700;1,900&display=swap");
.footer {
  font-family: "Montserrat", sans-serif;
}
.footer .footer-info {
  position: relative;
  padding-top: 3em;
  padding-bottom: 2em;
}
.footer .footer-info-item__contact {
  padding-top: 2em;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.footer .footer-info-item__contact-item {
  display: flex;
  align-items: center;
}
.footer .footer-info-item__contact-item p,
.footer .footer-info-item__contact-item a {
  text-decoration: none;
  color: #000;
  margin: 0;
  margin-left: 10px;
  font-weight: bold;
}
.footer .footer-info::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #9e3c5d;
  bottom: 0;
  left: 0;
}
.footer .footer-logo {
  padding-right: 10px;
}
.footer .footer-info-item__des {
  font-size: 15px;
}
.footer .footer-info-item-logo__des p:first-child {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}
.footer .footer-info-item-logo__des p:first-child::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #aaa;
  bottom: 0;
  left: 0;
}
.footer .footer-info-item-logo__des p:last-child {
  font-size: 15px;
}
.footer .footer-info-item:first-child {
  padding-right: 3%;
}
.footer .footer-info-item-logo {
  display: flex;
}
.footer .footer-info-item-title {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}
.footer .footer-info-item-menu {
  display: flex;
  flex-direction: column;
}
.footer .footer-info-item-menu a {
  text-decoration: none;
  font-size: 15px;
  color: #9e3c5d;
}
.footer .coppyright {
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  font-size: 15px;
}
.footer .coppyright a {
  text-decoration: none;
  color: #000;
}
.footer .coppyright-item {
  margin-right: 30px;
  position: relative;
  margin-bottom: 0;
}
.footer .coppyright-item:first-child::after {
  display: none;
}
.footer .coppyright-item::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 16px;
  background-color: #aaa;
  bottom: 5px;
  left: -15px;
}

@media screen and (max-width: 575.98px) {
  .footer .footer-info-item:nth-child(2) {
    margin-top: 2em;
  }
  .footer .footer-info-item:nth-child(3) {
    margin-top: 2em;
  }
  .footer__contact-item a {
    font-size: 13px;
  }
  .footer .coppyright {
    flex-wrap: wrap;
  }
  .footer .coppyright p {
    order: 2;
    width: 100%;
  }
  .footer .coppyright a {
    order: 1;
    width: 50%;
    margin-right: 0;
  }
  .footer .footer-info-item__contact-item a {
    font-size: 13px;
  }
  .footer .footer-info-item-logo__des p:last-child {
    font-size: 14px;
  }
  .coppyright-item {
    margin-right: 0 !important;
  }
}/*# sourceMappingURL=footer.css.map */