@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Itim&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,100;1,200;1,300;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Itim&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,100;1,200;1,300;1,700;1,900&display=swap");
#header {
  position: relative;
}
#header .offcanvas-body .nav-link {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
}
#header .header-image {
  width: 100%;
  height: 80vh;
}
#header .header-image img {
  width: 100%;
  height: 100%;
}
#header .header__logo img {
  padding: 0 1.8em;
}
#header .header-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
#header .fixed-header {
  position: fixed;
  width: 100vw;
  z-index: 1000;
  display: flex;
}
#header .header-top {
  align-items: center;
  background: #fff;
  padding-right: 0;
  display: flex;
}
#header .header-contact {
  background: #9e3c5d;
  color: #fff;
  display: flex;
  padding: 5px 10px;
}
#header .header-contact-phone {
  margin-right: 100px !important;
}
#header .header-contact p {
  font-size: 12px;
  margin: 0;
  font-size: 11.667px;
  font-family: "Montserrat";
}
#header .header-contact p a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
#header .header__direct {
  flex-grow: 1;
}
#header .header-banner {
  color: #fff;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#header .header-banner__slogan {
  font-size: 50px;
  font-family: "Dancing Script", cursive, sans-serif;
}
#header .header-banner__des {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}
#header .header-banner__btn .btn {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
#header .header-banner__btn .btn:first-of-type {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #888871;
  background-color: rgb(255, 255, 255);
  padding-left: 2em;
}
#header .header-banner__btn .btn:last-of-type {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #9e3c5d;
  color: #fff;
  padding-right: 2em;
}
#header .header-banner__btn .btn:hover {
  border-color: unset;
  color: unset;
  background-color: unset;
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  #header .header-image {
    height: 42vh !important;
  }
}
@media screen and (max-width: 575.98px) {
  .contact-service-form {
    padding: 0 !important;
  }
  .header-contact-phone {
    padding-right: 0;
  }
  .header-top {
    padding: 0;
  }
  #header .header-image {
    padding-top: 90px;
    height: 40vh;
  }
  #header .header-banner {
    padding-top: 90px;
  }
  #header .header-banner__des {
    padding: 0 4%;
    text-align: center;
  }
  #header .header__logo {
    width: 50px;
    margin: 0 10px;
  }
  #header .header__logo img {
    padding: 0;
    width: 100%;
  }
  #header .header-contact {
    flex-direction: column;
    justify-content: space-between;
  }
  #header .header-contact-phone {
    margin-right: 0 !important;
  }
  #header .header-contact p {
    font-size: 12px;
  }
  #header .navbar .navbar-toggler {
    font-size: 12px;
  }
  .header-banner__slogan {
    font-size: 33px !important;
  }
}/*# sourceMappingURL=header.css.map */